.place__title {
    display: flex;
    max-width: 460px;
    
    font-size: 4.5rem;
    line-height: 4.75rem;
    font-weight: 900;
    justify-content: left;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    color: white;
}
@media screen and (max-width:768px) {
    .place__title {
        max-width: 340px;
        font-size: 2.625rem;
        line-height: 2.875rem;
    }
}
@media screen and (max-width:320px) {
    .place__title {
        margin-left: 5%;
        font-size: 2rem;
        line-height: 2.1875rem;
    }
}