.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    color: white;
}
@media screen and (max-width:1024px) {
    .footer__container {
        margin: 0 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer__container {
        margin: 0 24px;
}
}
@media screen and (max-width: 320px) {
    .footer__container {
        flex-direction: column;
}
}