.place__paragraph { 
    grid-column: 2/3; 
    grid-row: 2/3; 
    color: white; 
    font-size: 1.125rem; 
    line-height: 1.8125rem; 
} 
@media screen and (max-width:768px) { 
   
    .place__paragraph { 
        font-size: 1rem; 
        line-height: 1.625rem; 
    } 
} 
@media screen and (max-width:320px) { 

    .place__paragraph { 
        grid-column: 1/2; 
        grid-row: 3/4; 
        color: white; 
        font-size: 1rem; 
        line-height: 1.625rem; 
        margin: 0 5%; 
    } 
} 