.intro {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 100px*2);
    margin: 0 auto;
    color: white;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width:1140px) {
    .intro {
        max-width: 690px;
        max-width: calc(100% - 48px*2);
        max-height: 429px;
    }
}
@media screen and (max-width:984px) {
    .intro {
        max-width: 720px;
        max-width: calc(100% - 24px*2);
        max-height: 429px;
    }
}
@media screen and (max-width:568px) {
    .intro {
        max-width: calc(100% - 16px*2);
        max-height: 754px;
    }
}    