.footer__list-link {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin: 0 18px 0 0;
  }
  
  .footer__list-link:hover {
    opacity: 0.8;
  }
  
  
  @media screen and (max-width: 680px){
    .footer__list-link {
      font-size: 1.5rem;
      line-height: 1.5rem;
      display: block;
      margin: 0;
      margin-bottom: 32px;
    }
  }
  