.lead__subtitle {
    position: relative;
    margin: 32px auto 0;
    text-align: center;
    color:white;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: normal;
}

@media screen and (max-width: 984px) {
    .lead__subtitle {
        margin: 32px auto 0;
    }
}

@media screen and (max-width:320px) {
    
    .lead__subtitle {
        margin: 16px auto 0;
        font-size: 1rem;
        line-height: 1.25rem;
    }
}