.header__lang-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  
}
@media screen and (max-width:1024px) {
  .header__lang-list {
    margin-top: 18px;
  }
}
@media screen and (max-width:768px) {
  .header__lang-list {
    margin-top: 18px;
  }
}
@media screen and (max-width:320px) {
  .header__lang-list {
    margin-top: 14px;
  }
}