.place__paragraph__1 {
    margin: 0 auto 26px;
}
@media screen and (max-width:768px) {
    .place__paragraph__1 {
        margin: 0 auto 25px;
    }
}
@media screen and (max-width:320px) {
    .place__paragraph_1 {
        margin: 0 auto 25px;
    }
}