@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff");"
}
@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url("../fonts/Inter-Bold.woff");
}

@import url(../vendor/normalize.css);

.body {
    
    
}
.page {
    max-width: 1280px;
    min-width: 320px;
    background-color: #2a2c2f;
    margin: auto;
    font-family:  Inter;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.header {
    height: 100vh;
    min-height: 42px;
    max-height: 52px;
    display: flex;
    position: relative;
    align-items: center;
}
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    min-height: 52px;
    left: 48px;
    top: 28px;
    margin:auto;
}
.header__logo {
    position: absolute;
    top: 28px;
    left: 48px;
    max-width: 176px;
    min-width: 142px;
    max-height: 52px;
    min-height: 42px;
}
.header__link {
    position: absolute;
    top: 46px;
    right: 48px;
}

.header__lang-link_ru {
    color: white; 
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 18px;
}
.header__lang-link_ru:hover {
    text-decoration: underline;
} 

.header__lang-link_en {
    color: white; 
    font-size: 1.5rem;
    text-decoration: none;
}
.header__lang-link_en:hover {
    text-decoration: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    min-height: 1005px;
    width: calc(100% - 148px);
    margin: 85px auto 0;
}
.lead__title {
    display: block;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-size: 6rem;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto 0;
    color: white;
}
.lead__subtitle {
    position: relative;
    margin: 32px auto 0;
    min-width: 640px;
    text-align: center;
    color:white;
    font-size: 1.85rem;
    line-height: 36px;
    font-weight: normal;
}
.lead__image {
    position: relative;
    margin: 64px auto 0;
    width: 100%;
    max-width: 984px;
    height: 100%;
    max-height: 615px;
}
.lead__caption {
    margin: 0;
    color: white;
    font-size: 0.9rem;
    line-height: 14px;  
}
.intro {
    display: flex;
    flex-direction: column;
    width: 63%;
    max-width: 690px;
    max-height: 429px;
    position: relative;
    right: 148px;
    display: flex;
    flex-direction: column;
    margin: 92px auto;
    color: white;
}
.intro__title {
    font-size: 3.375rem;
    line-height: 58px;
    font-weight: 900;
    margin: 0 0 40px;
    
    padding: 0;
}
.intro__text {
    font-size: 1rem;
    margin: 0 auto 33px;
    padding: 0;
}
.intro__list {
    
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}
.photo-grid {
    height: 100%;
    max-height: 671px;
    width: 100%;
    max-width: 1184px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}
.photo-grid__item {
    margin: 0;
    padding: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}