.footer__list {
    display: inline;
    margin: 0;
}
.footer__list:nth-child(2n) {
    margin: 0 18px;
}
@media screen and (max-width:320px) {
    .footer__list {
        display: list-item;
    }
    .footer__list:nth-child(2n) {
        margin: 32px 0;
        margin-left: 0;
    }
}