
.footer {
    height: 100vh;
    max-height: 18px;
    display: flex;
    position: relative;
    align-items: center;
    
    justify-content: space-between;
  
  flex-wrap: wrap;
}
@media screen and (max-width:768px) {
    .footer {
        height: 100vh;
        width: 100%;
        margin-top: 88px;
    }
}
@media screen and (max-width:320px) {
    .footer {
        height: 100%;
        width: calc(100% - 16px);
        max-height: 310px;
        min-height: 310px;
        margin-top: 64px;
    }
}

