.place__item {
    margin: 26px auto 0;
} 
.place__item:nth-of-type(2n+1) {
    margin-top: 0;
}

@media screen and (max-width:768px) {
    .place__item { 
        margin: 25px auto 0; 
    } 
    .place__item:nth-of-type(2n+1) {
        margin-top: 0;
    }
} 
